/1.21.11/.project
/1.21.11/.settings
/1.21.11/common/.classpath
/1.21.11/common/.factorypath
/1.21.11/common/.project
/1.21.11/common/.settings
/1.21.11/fabric/.classpath
/1.21.11/fabric/.factorypath
/1.21.11/fabric/.project
/1.21.11/fabric/.settings
/1.21.11/fabric/bin/main
/1.21.11/forge/.classpath
/1.21.11/forge/.factorypath
/1.21.11/forge/.project
/1.21.11/forge/.settings
/1.21.11/forge/bin/main
/1.21.11/neoforge/.classpath
/1.21.11/neoforge/.eclipse/configurations
/1.21.11/neoforge/.project
/1.21.11/neoforge/.settings
/1.21.11/neoforge/bin/main
